<div class="container">
<h2>All Boards</h2>

<% @boards.each do |board| %>
  <%= link_to board_cards_path(board) do %>
    <div class="board">
      <div class="board_content">
        <div class="board_name">
          <%= board.name %>
        </div>
        <div class="board_description">
          <%= board.description %>
        </div>
      </div>

      <% if current_user && board.user.id == current_user.id %>
        <div class="dropbtn">
          <%= image_tag 'dropdown.png' %>
          <div class="dropdown-content">
            <%= link_to 'Edit', edit_board_path(board) %>
            <%= link_to 'Delete', board_path(board), method: :delete %>
          </div>
        </div>
      <% end %>
      
      
        <% if board.user&.profile&.avatar&.attached? %>
          <%= image_tag board.user.profile.avatar, class: 'board_img'  %>
        <% else %>
          <%= image_tag 'default-avatar.png', class: 'board_img'  %>
        <% end %>
      </div>
  <% end %>
<% end %>

<p class="addnewboard" ><%= link_to "+ Add new board", new_board_path %><p>
</div>