<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
    <div class="container">
      <%= link_to root_path do %>
        <div class="title">Boards</div>
      <% end %>
      <div class="dropbtn"> 
        <% if current_user&.profile&.avatar&.attached? %>
          <%= image_tag current_user.profile.avatar, class: 'header_img'  %>
        <% else %>
          <%= image_tag 'default-avatar.png', class: 'header_img'  %>
        <% end %>
        <div class="dropdown-content">
          <% if current_user %>
            <%= link_to 'Profile', profile_path %>
          <% end %>
          <% if current_user %>
            <%= link_to "Logout", destroy_user_session_path, method: 'delete' %>
          <% else %>
            <%= link_to "Login", new_user_session_path, method: 'get' %>
          <% end %>
        </div>
      </div>
    </div>
    </header>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
